<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AI - Web service</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/slicknav.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/owl.theme.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/slick.css" >
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/slick-theme.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/MyDjangoWebservice/static/home/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="https://ent.univ-tours.fr/uPortal/f/welcome/normal/render.uP" class="navbar-brand"><img src="/MyDjangoWebservice/static/home/img/logoPolytech.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#feature">
                  feature
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonial">
                  Testimonial
                </a>
              </li>
            </ul>
            <div class="btn-sing float-right">
              <a class="btn btn-border" href="#feature">FAQ</a>
            </div>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu navbar-nav">
          <li>
            <a class="page-scroll" href="#hero-area">
              Home
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#services">
              Services
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#feature">
              feature
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#team">
              Team
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#testimonial">
              Testimonial
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#pricing">
              Pricing
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">
              Contact
            </a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="contents text-center">
                <h2 class="head-title wow fadeInUp">Une IA en web service pour <br> la connaissances d'image</h2>
              </div>
              <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/ai.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">AI Services</h2>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content" >
                <h3><a href="/algo1">CNN algorithm</a></h3>
                <p>In deep learning, a convolutional neural network (CNN, or ConvNet) is a class of deep neural networks, most commonly applied to analyzing visual imagery.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-bar-chart"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Perceptron Algorithm</a></h3>
                <p>In machine learning, the perceptron is an algorithm for supervised learning of binary classifiers. </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="lni-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">LSTM algorithm</a></h3>
                <p>Long short-term memory (LSTM) is an artificial recurrent neural network (RNN) architecture used in the field of deep learning.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Feature Section Start -->
    <div id="feature">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper">
              <div>
                <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Learn More About This System </h2>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.3s">
                      <div class="features-icon">
                        <i class="lni-layers"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Easy management
                        </h4>
                        <p>
                          Background management based on portainer technology.
                        </p>
                      </div>
                    </div>
                  </div> 
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.6s">
                      <div class="features-icon">
                        <i class="lni-briefcase"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Open source
                        </h4>
                        <p>
                          All technologies and frameworks are based on open source technology.
                        </p>
                      </div>
                    </div>
                  </div>           
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.9s">
                      <div class="features-icon">
                       <i class="lni-cog"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Reusability
                        </h4>
                        <p>
                          Through docker images, you can quickly deploy new services.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="1.2s">
                      <div class="features-icon">
                        <i class="lni-leaf"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Easy to Use
                        </h4>
                        <p>
                          Provide packaged services directly.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 padding-none">
            <div class="feature-thumb wow fadeInRight" data-wow-delay="0.3s">
              <img src="/MyDjangoWebservice/static/home/img/feature/feAI.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Section End -->


    <!-- Testimonial Section Start -->
    <section id="testimonial" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              <div class="item">
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">This is a polytech PRD project for web service deployment related to AI </p>
                  </div>
                  <div class="info">
                    <h2><a href="#">Miyuan SONG</a></h2>
                    <h3><a href="#">DI 5</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial Section End -->  


    <!-- Owl Slider Section Start -->
    <section class="sloder-img section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="slider-center slider">
              <div>
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/slide/img1.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/slide/img2.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/slide/img3.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/slide/img4.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/slide/img5.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="/MyDjangoWebservice/static/home/img/slide/img6.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Owl Slider Section End -->  




    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
    
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/MyDjangoWebservice/static/home/js/jquery-min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/popper.min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/bootstrap.min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/owl.carousel.min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/slick.min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/wow.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/jquery.nav.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/scrolling-nav.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/jquery.easing.min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/jquery.slicknav.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/main.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/form-validator.min.js"></script>
    <script src="/MyDjangoWebservice/static/home/js/contact-form-script.min.js"></script>
  
   
      
  </body>
</html>
